include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../scripts/scripts

doctype html
html(lang='ru', class='page-container')
	include ../head/head
	+page
		block content
		div.container-paper
			header.row.b-header
				div.col-lg-3.b-header__logo
					img(src='/assets/images/logo.png', alt='Logo CSSSR', class='b-header__logo-image')
					span.b-header__tip Organization secret archive
				div.col-lg-3.col-lg-offset-5.b-header__top-secret
					img(src='/assets/images/secret.png', alt='Top sercet', class='b-header__image')
			article.b-content
				section.row.b-heading
					div.col-lg-4.col-lg-offset-4
						img(src='/assets/images/case.png', alt='CASE')
				section.row.b-personal-info
					div.row
						div.col-lg-7.col-lg-offset-2.b-personal-info__content.b-personal-info__content_full-name
							span John Doe
					div.row
						div.col-lg-3.b-personal-info__line-name.b-personal-info__line-name_full-name
							span Full name
						div.col-lg-9
							div.b-underline.b-underline_full-name
				section.row.b-personal-info
					div.row
						div.col-lg-6.col-lg-offset-2.b-personal-info__content.b-personal-info__content_birth-year
							span Hidden
					div.row
						div.col-lg-3.b-personal-info__line-name.b-personal-info__line-name_birth-date
							span Birth date
						div.col-lg-9
							div.b-underline.b-underline_birth-year
				section.row.b-personal-info
					div.row
						div.col-lg-6.col-lg-offset-3.b-personal-info__content.b-personal-info__content_life-place
							span Hidden
					div.row
						div.col-lg-4.b-personal-info__line-name.b-personal-info__line-name_life-place
							span Address
						div.col-lg-8
							div.b-underline.b-underline_life-place
				section.row.b-personal-info
					div.row
						div.col-lg-6.col-lg-offset-1.b-personal-info__content.b-personal-info__content_skype
							span kinos_pro
					div.row
						div.col-lg-1.b-personal-info__line-name.b-personal-info__line-name_skype
							span Skype
						div.col-lg-11
							div.b-underline.b-underline_skype
				section.row.b-personal-info
					div.row
						div.col-lg-6.col-lg-offset-1.b-personal-info__content.b-personal-info__content_email
							span astulovru@gmail.com
					div.row
						div.col-lg-1.b-personal-info__line-name.b-personal-info__line-name_email
							span Email
						div.col-lg-11
							div.b-underline.b-underline_email
				section.row.b-is-html-academy
					div.col-lg-5.b-is-html-academy__line
						span.b-is-html-academy__graduate Graduate of 
						a.b-is-html-academy__link(href='htmlacademy.ru') htmlacademy.ru
					div.col-lg-1.b-is-html-academy__yes
						input(type='radio', id='htmlacademy-yes' name='htmlacademy', class='b-custom-radiobutton b-custom-radiobutton_yes' value='yes')
						label(for='htmlacademy-yes' class='b-custom-radiobutton-label') Yes
					div.col-lg-1.b-is-html-academy__no
						input(type='radio', id='htmlacademy-no' name='htmlacademy', class='b-custom-radiobutton b-custom-radiobutton_no' value='no', checked='checked')
						label(for='htmlacademy-no' class='b-custom-radiobutton-label') No
				section.row.b-skills
					div.col-lg-12.b-skills__description
						h3.b-skills__heading Practical skills
						ul.b-skills__text
							li Mark skills you are good at. Different experience level are welcome.
					div.b-skills__list
						div.row
							div.col-lg-4.b-skills__left-col
								input(type='checkbox', id='is-bem', name='is-bem', class='b-custom-checkbox', checked='checked')
								label(for='is-bem') BEM methodology
							div.col-lg-4.b-skills__center-col
								input(type='checkbox', id='is-Jade', name='is-Jade', class='b-custom-checkbox', checked='checked')
								label(for='is-Jade') Jade
							div.col-lg-4.b-skills__right-col
								input(type='checkbox', id='is-markup', name='is-markup', class='b-custom-checkbox')
								label(for='is-markup') Email markup
						div.row.b-skills__list-row
							div.col-lg-4.b-skills__left-col
								input(type='checkbox', id='is-jQuery', name='is-jQuery', class='b-custom-checkbox', checked='checked')
								label(for='is-jQuery') jQuery
							div.col-lg-4.b-skills__center-col
								input(type='checkbox', id='is-Stylus', name='is-Stylus', class='b-custom-checkbox', checked='checked')
								label(for='is-Stylus') Stylus
							div.col-lg-4.b-skills__right-col
								input(type='checkbox', id='is-adaptive', name='is-adaptive', class='b-custom-checkbox', checked='checked')
								label(for='is-adaptive') Adaptive markup
						div.row.b-skills__list-row
							div.col-lg-4.b-skills__left-col
								input(type='checkbox', id='is-GRUNT', name='is-GRUNT', class='b-custom-checkbox')
								label(for='is-GRUNT') Grunt
							div.col-lg-4.b-skills__center-col
								input(type='checkbox', id='is-Angular', name='is-Angular', class='b-custom-checkbox')
								label(for='is-Angular') Know Angular
							div.col-lg-4.b-skills__right-col
								input(type='checkbox', id='is-Dropbox', name='is-Dropbox', class='b-custom-checkbox', checked='checked')
								label(for='is-Dropbox') Use Dropbox
						div.row.b-skills__list-row
							div.col-lg-4.b-skills__left-col
								input(type='checkbox', id='is-HAML', name='is-HAML', class='b-custom-checkbox')
								label(for='is-HAML') HAML
							div.col-lg-4.b-skills__center-col
								input(type='checkbox', id='is-Android', name='is-Android', class='b-custom-checkbox')
								label(for='is-Android') Android markup
							div.col-lg-4.b-skills__right-col
								input(type='checkbox', id='is-Gmail', name='is-Gmail', class='b-custom-checkbox', checked='checked')
								label(for='is-Gmail') Use Gmail
						div.row.b-skills__list-row
							div.col-lg-4.b-skills__left-col
								input(type='checkbox', id='is-SASS', name='is-SASS', class='b-custom-checkbox', checked='checked')
								label(for='is-SASS') SASS
							div.col-lg-4.b-skills__center-col
								input(type='checkbox', id='is-iOS', name='is-iOS', class='b-custom-checkbox')
								label(for='is-iOS') iOS markup
							div.col-lg-4.b-skills__right-col
								input(type='checkbox', id='is-GitHub', name='is-GitHub', class='b-custom-checkbox', checked='checked')
								label(for='is-GitHub') Use GitHub
						div.row.b-skills__list-row
							div.col-lg-4.b-skills__left-col
								input(type='checkbox', id='is-LESS', name='is-LESS', class='b-custom-checkbox', checked='checked')
								label(for='is-LESS') LESS
							div.col-lg-4.b-skills__center-col
								input(type='checkbox', id='is-WP', name='is-WP', class='b-custom-checkbox')
								label(for='is-WP') Windows Phone markup
						div.row
							div.col-lg-4.b-skills__last-col
								input(type='checkbox', id='is-CoffeeScript', name='is-CoffeeScript', class='b-custom-checkbox')
								label(for='is-CoffeeScript') CoffeeScript
				section.b-javascript-level
					div.row
						div.col-lg-6
							h3.b-javascript-level__heading JavaScript level
					div.row
						div.col-lg-12.b-javascript-level__line
					div.row.b-javascript-level__scale
						div.col-lg-2.b-javascript-level__no-skill
								input(type='radio', id='javascript-no' name='javascript', class='b-javascript-radio b-javascript-radio_no' value='no')
								label(for='javascript-no') No
						div.col-lg-3.b-javascript-level__low-skill
								input(type='radio', id='javascript-low' name='javascript', class='b-javascript-radio js-level-small b-javascript-radio_low' value='low')
								label(for='javascript-low') Use ready scripts
						div.col-lg-3.b-javascript-level__better-skill
								input(type='radio', id='javascript-better' name='javascript', class='b-javascript-radio js-level-small b-javascript-radio_better' value='better', checked="checked")
								label(for='javascript-better') Use ready scripts<br/> and know how to modify it
						div.col-lg-3.b-javascript-level__best-skill.pull-right
								input(type='radio', id='javascript-best' name='javascript', class='b-javascript-radio b-javascript-radio_best b-javascript-radio_right' value='best')
								label(for='javascript-best') Write complex scripts
			footer.b-footer.b-personal-info.b-date
				section.row
					div.col-lg-6.col-lg-offset-3.b-date__value
						span.b-personal-info__content 24.05.2016
				section.row
					div.col-lg-3.b-date__name
						span.b-personal-info__line-name Date of completion
					div.col-lg-3
						div.b-underline.b-underline_date
		+scripts(['app.min.js'])
